#mapCanvas {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
}

.list-group-item:hover {
    background-color: var(--bs-secondary);
}

#addItemForm {
    max-width: 300px;
    z-index: 1000;
    display: none;
}

#addItemForm.show {
    display: block;
}
