#mapCanvas {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
}

.list-group-item:hover {
    background-color: var(--bs-secondary);
}

#addItemForm {
    max-width: 300px;
    z-index: 1000;
    display: none;
}

#addItemForm.show {
    display: block;
}

.item-tag {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: var(--bs-info);
    color: var(--bs-dark);
}

#tagFilterContainer .btn-outline-secondary {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

#tagFilterContainer .btn-outline-secondary.active {
    background-color: var(--bs-secondary);
    color: var(--bs-light);
}
